@import url(../variables/variables.css);

/*
------------
header
------------
*/

header {
    background-color: var(--ms-primary-background);
}

header .container-fluid > a,
header .container-fluid .nav-item > a {
    color: white;
}

/*
------------
main
------------
*/

#start-bootstrap {
    background-color: var(--ms-secondary-background);
}

#start-bootstrap .container-sm .row .col:first-child {
    height: 12.5rem;
    width: 12.5rem;
}

#start-bootstrap .container-sm .row .col:first-child > img {
    width: 100%;
}

#start-bootstrap .container-sm .row {
    color: white;
}

#about {
    background-color: var(--ms-secondary-background);
}

#about .container {
    color: white;
}

#about div button,
#contact .container form button {
    background-color: var(--ms-secondary-background);
    color: white;
    border: .0625rem solid white;
    border-radius: .3125rem;
    padding: .3125rem .625rem;
}

#contact .container form label {
    display: inline-block;
    width: 30%;
}

#contact .container form input {
    display: inline-block;
    width: 50%;
}

#info {
    background-color: var(--ms-footer-background);
}

#info .container {
    color: white;
}

#info .container .row div:last-child > i {
    margin-left: .3125rem;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
    border: .0625rem solid white;
    border-radius: 50%;
}

#info .container .row div small > a {
    color: var(--ms-secondary-background);
    text-decoration: none;
}

/*
------------
footer
------------
*/

footer {
    background-color: var(--ms-primary-background);
}

footer .container {
    color: white;
}
