@import url(../variables/variables.css);

/*
------------
header
------------
*/

header {
    background-color: var(--ms-primary-background);
}

header .container .row {
    color: white;
}

/*
------------
main
------------
*/

#start-bootstrap {
    background-color: var(--ms-secondary-background);
}

#start-bootstrap .container-sm .row .col:first-child {
    height: 12.5rem;
    width: 12.5rem;
}

#start-bootstrap .container-sm .row .col:first-child > img {
    width: 100%;
}


#portfolio .container .row .col {
    background-color: aqua;
}